$primary-color: #2b78e4;
$nav-text: #fefefe;
$login-button: #9fc5f8;
$sign-up-button: #009e0f;
$main-title: #eee;

nav {
  background-color: $primary-color;
}

.cover-picture-container {
  border:1px solid black;
  //background-image: url("images/hogwarts_small.jpg");
  height:409px;
  padding: 0;
}

img {
  height: 409px;
  width: 100%;
}

.middle-nav {
  height:55px;
  border:solid 1px black;
  ul {
    height:100%;
  }
  a{
    display:inline-block;
    height:100%;
    border:1px solid black;
    position: relative;
    left:20%;
    padding-top:16px;
    padding-left:10px;
    padding-right:10px;
    width:105px;
  }
  li {

    height:100%;
  }

}

main {
  margin-top:20px;

  .main-content-title {
    background-color: $main-title;
    border:1px solid black;
  }
}

.main-content {
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      line-height: 32px;
    }
  }
  .content-info {
    border-left:1px solid black;
    border-bottom: 1px solid black;
    height:400px;
  }
  .content-about {
    border-right:1px solid black;
    border-bottom: 1px solid black;
    height:400px;
  }
}
