$primary-color: #2b78e4;
$nav-text: #fefefe;
$login-button: #9fc5f8;
$sign-up-button: #009e0f;
$main-title: #eee;

nav {
  background-color: $primary-color;
  color:$nav-text;
  .input-group {
    width:100%;
    #nav-search-bar {
      border-radius:3px;
    }
  }
  img {
    height:30px;
    width:30px;
    position: relative;
    top: -5px;
    left: -8px;
    border-radius: 50%;
  }
  a {
    color:$nav-text;
    font-size: 34px;
  }
  p {
    float: right;
    position: relative;
    font-size: 22px;
    top: 8px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.cover-picture-container {
  border:1px solid black;
  //background-image: url("images/hogwarts_small.jpg");
  height:409px;
  padding: 0;
  img {
    height: 409px;
    width: 100%;
  }
}



.middle-nav {
  height:55px;
  border:solid 1px black;
  ul {
    height:100%;
  }
  a{
    display:inline-block;
    height:100%;
    border:1px solid black;
    position: relative;
    left:20%;
    padding-top:16px;
    padding-left:10px;

    width:105px;
    font-weight:600;
    color: #222;
  }
  .active-middle-nav {
    background-color: gainsboro;
  }
  li {

    height:100%;
  }

}
.middle-nav-container {
  position: relative;
}
#profile-pic {
  height: 150px;
  width: 18%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  left: 13px;
  bottom: 13px;
  img {
    height:95%;
    width:95%;
    margin:auto;
    padding-left: 5%;
    padding-top:5%;
  }

}

#profile-name {
  position: relative;
  color: white;
  top: -138px;

  left: 189px;
}

#middle-edit-profile {
  border: none;
  position: absolute;
  left: 86%;
  color: #07f;
  text-decoration: underline;
  bottom: 0px;
}

main {
  margin-top:20px;

  .main-content-title {
    background-color: $main-title;
    border:1px solid black;
    h1 {
      top: -3px;
      position: relative;
      left: 46%;
    }
    button {
      position: absolute;
      top:20px;
      right:15px;
    }
  }
}

.main-content {
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      line-height: 32px;
    }
  }
  .content-info {
    border-left:1px solid black;
    border-bottom: 1px solid black;
    height:400px;
  }
  .content-about {
    border-right:1px solid black;
    border-bottom: 1px solid black;
    height:400px;
  }
}
